body{
    color: white;
    background-image: linear-gradient(to right, #302e30, #cabdc4, #363232);
}


#list{
    color: white;
    
}

.form-check{
    color: white;
}

.card {
    margin-bottom: 1rem;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }



