*{
    padding: 20px;
    margin: 20px;
    background-image: linear-gradient(to right, #8aa7bf, #a985a1, #8aa7bf);
    color:black;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.opt{
    color: black;
}

#calcular{
    align-items: center;
    justify-content: right;
    height: 4rem;
    width: 8rem;
    margin-top: 38px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}